.test-class{
    font-size: 13px;
    line-height: 16px;
}
.test-class-correct{
    color: rgb(15, 172, 15);
}
.test-class-incorrect{
    color: rgb(253, 51, 51);
}
.test-class-notattempted{
    color: orange;
}