.main-cont{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.timer-cont{
    margin-top: 0;
    padding: 10px 12px;
    flex-grow: 1;
}
.timer{
    font-size: 36px;
    font-weight: 600;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.timer-info{
    font-size: 30px;
    margin: 0;
    color:rgb(214, 57, 57);
}
.main-speed-container{
    display: flex;
    flex-direction: row;
    width: 84%;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.left-container,.right-container{
    display: flex;
    width: 60%;
    flex-grow: 1;
}
.textarea{
    text-align: left;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 300px;
    width: 110%;
    line-height: 10px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0.12), 0 1px 2px rgba(0,0,0,.26);
    transition: all o.3s;
    overflow: scroll;
}
.textarea::-webkit-scrollbar{
    display: none;
}


.textarea{
    scrollbar-width: none;
}

.textarea:hover{
    box-shadow: 0 14px 28px rgba(0,0,0.12), 0 10px 10px rgba(0,0,0,.26);
}

.text-para{
    font-size: 24px;
    font-weight: 1000;
    background: rgb(228, 228, 228);
    padding: 10px;

}
